<h1> User's Page </h1>
<%= link_to "Meme-me's", memes_path %>
    <ul>
        
        <h3>
            NAME: <%= @user.name %>
        <br>
        <br>
            AGE: <%= @user.age %>
        </h3>
        
    </ul>